
.explore {
    padding: 20px;
    background-color: #E6E9F6;
}

.explore-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.explore-title {
    font-size: 20px;
    font-weight: 600;
}

.explore-filter {
    font-size: 16px;
    color: #5DB075;
}

.explore-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 100%;
    max-width: 80%; 
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #aaa;
}
